<div class="main-page">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="title">
    <button id="step1" class="btn-create" (click)="next()">Tạo mới</button>
  </div>
  <div class="body">
    <p id="step2" (click)="next()">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est
    </p>
    <p id="step4" (click)="next()">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est
    </p>
  </div>
  <div class="footer">
    <span id="step3" (click)="next()">Page footer</span>
  </div>
</div>
<ng-template #template>
  <app-my-modal></app-my-modal>
</ng-template>

