<button class="btn btn-primary" (click)="startSteps()">SHOW ME STEPS</button>
<div class="sidebar-component">
  <ul>
    <li class="item" id="step1-li">
      Trang chủ
    </li>
    <li class="item" id="step2-li">
      Dashboard
    </li>
    <li class="item" id="step3-li">
      Mục tiêu
    </li>
    <li class="item" id="step4-li">
      Công việc
    </li>
    <li class="item" id="step5-li">
      Yêu cầu phê duyệt
    </li>
    <li class="item" id="step6-li">
      Dự án
    </li>
    <li class="item" id="step7-li">
      Drive
    </li>
    <li class="item" id="step8-li">
      Đánh giá
    </li>
    <li class="item" id="step9-li">
      Trung tâm nhân lực
    </li>
    <li class="item" id="step10-li">
      Mạng xã hội nội bộ
    </li>
    <li class="item" id="step11-li">
      Quản trị
    </li>
  </ul>
</div>
